[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
psycopg2-binary = "*"
django-environ = "*"
djangorestframework-simplejwt = "*"
django-cors-headers = "*"
gunicorn = "*"
requests = "*"

[dev-packages]
pre-commit = "*"
black = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
